
body {
    background-color: rgb(200, 245, 230);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    background-color: rgb(87, 87, 255);
    color: rgb(255, 255, 255);
}
